[submodule "test"]
	path = test
	url = git@ra.jpl.nasa.gov:dshaff/support_test.git
	branch = master
[submodule "pyro"]
	path = pyro
	url = git@ra.jpl.nasa.gov:dshaff/support_pyro.git
	branch = master
[submodule "trifeni"]
	path = trifeni
	url = git@ra.jpl.nasa.gov:dshaff/trifeni.git
	branch = master
